body {
  background-color: lightyellow;
}
p {
  font-size: 18px;
  text-align: center;
}
.intro {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
#contact {
  background-color: #ffe4c3;
  text-align: center;
}
body {
  margin: 0;
  color: #2e2d29;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.profile-header {
  color: white;
  background-color: #644421;
  text-align: center;
}
h1 {
  font-family: Georgia, serif;
  font-size: 40px;
  text-align: center;
}

h2 {
  color: #8c1515;
  font-family: Georgia, serif;
  font-size: 30px;
  text-align: center;
}
.project {
  border: 4px solid #8c1515;
  padding: 16px;
  margin-bottom: 24px;
  text-align: center;
}

.choose {
    background-color: #8c1515;
    color: white;
    padding: 10px 20px;
}

#skills {
    text-align: center;
}

ul, ol {
  list-style-position: inside;
  text-align: center;
}